body {
  background-color: #F7F3F0;
}

#main {
  margin-top: 60px;
}

.card {
  float: left;
  width: 300px;
  margin: 10px;
  border: 1px solid #555;
  background-color: #FFF;
  padding: 0 10px;
  h2 {
    margin-top: 5px;
  }
  ul {
    li {
      border-bottom: 1px solid #ccc;
      &:last-of-type {
        border-bottom: none;
      }
    }
    &.groups {
      li {
        h4 {
          margin: 0;
          padding: 3px;
          background-color: #ccc;
        }
        border: 1px solid #ccc;
      }
    }
    &.group {
      li {
        border: none;
      }
    }
  }
  form {
    border-top: 1px solid #999;
    padding: 10px 0;
  }
}

